Source: ros-jazzy-mrt-cmake-modules
Section: misc
Priority: optional
Maintainer: Kevin Rösch <kevin.roesch@kit.edu>
Build-Depends: debhelper (>= 9.0.0), python3-catkin-pkg-modules, python3-rospkg, python3-setuptools, python3-yaml, ros-jazzy-ament-cmake-core, ros-jazzy-ros-environment, ros-jazzy-ros-workspace
Homepage: http://wiki.ros.org/mrt_cmake_modules
Standards-Version: 3.9.2

Package: ros-jazzy-mrt-cmake-modules
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lcov, python3-catkin-pkg-modules, python3-rospkg, python3-setuptools, python3-yaml, ros-jazzy-gtest-vendor, ros-jazzy-ros-environment, ros-jazzy-ros-workspace
Description: CMake Functions and Modules for automating CMake
